---
import "../styles/global.css";
import Keywords from "../components/Keywords.svelte";
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Astro</title>
    </head>
    <body>
        <h1>Astro</h1>
        <Keywords client:load></Keywords>
    </body>
</html>