---
import "../styles/global.css";
import Keywords from "../components/Keywords.svelte";
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>PDF Keywords</title>
    </head>
    <body>
        <h1 class="text-5xl uppercase text-center tracking-wide">PDF Keywords</h1>
        <Keywords client:load></Keywords>
    </body>
</html>